.header{
    background-color: aliceblue;
    text-align: center;
}

.profile {
    border: 0;
    width: 100%;
}

.bio {
    margin-top: 10px;
}

h1,h2,h3, h4{
    font-weight: bolder;
}

h1{
    font-size: 3.5em;
}

body{
    font-family: "Arial", Courier, monospace;
    font-size: 12px;
}
